/* Copyright 2013 by Simo Haakana http://www.github.com/siimeon */
/* All Rights Reserved */
/* This css file is made for harjoitukset.html */

/* Background cover images */
div.main_cover{
	background-image:url('../img/trees.jpg');
}
div.winter_salmela_cover{
	background-image:url('../img/salmela_talvi.jpg');
}
div.tent_cover{
	background-image:url('../img/teltta.jpg');
}
div.sotka_cover{
	background-image:url('../img/sotka.jpg');
}
div.lapland_cover{
	background-image:url('../img/lapland2.jpg');
}
div.fall_salmela_cover{
	background-image:url('../img/salmela_syksy.jpg');
}
div.tent2_cover{
	background-image:url('../img/teltta2.jpg');
}
div.long_sail_cover{
	background-image:url('../img/purjehdus3.jpg');
}
.web{
	width: 80%;
}