/* Copyright 2013 by Simo Haakana http://www.github.com/siimeon */
/* All Rights Reserved */
/* This css file is made for index.html */

/* Section background colors */
/*
section#lippukunta{
	background-color: rgb(94, 15, 117);
}
section#toiminta{
	background-color: rgb(212, 121, 30);
}
section#johtaja{
	background-color: rgb(169, 206, 108);
}
section#yhteys{
	background-color: rgb(148, 120, 21);
}
*/
/* Background cover image */
div.main_cover{
	background-image:url('../img/cover.jpg');
}
div.sail_cover{
	background-image: url('../img/purjehdus.jpg');
}
div.lapland_cover{
	background-image: url('../img/lapland1.jpg');
}
div.salmela_cover{
	background-image: url('../img/salmela_lippu.jpg');
}
div.sail_cover2{
	background-image: url('../img/purjehdus2.jpg');
}
