/* Copyright 2013 by Simo Haakana http://www.github.com/siimeon */
/* All Rights Reserved */
/* This css file is made for index.html */

/* Section background colors */
/*
section#lippukunta{
	background-color: rgb(94, 15, 117);
}
section#toiminta{
	background-color: rgb(212, 121, 30);
}
section#johtaja{
	background-color: rgb(169, 206, 108);
}
section#yhteys{
	background-color: rgb(148, 120, 21);
}
*/
/* Background cover image */
div.main_cover{
	background-image:url('../img/cover.jpg');
}
div.sail_cover{
	background-image: url('../img/purjehdus.jpg');
}
div.lapland_cover{
	background-image: url('../img/lapland1.jpg');
}
div.salmela_cover{
	background-image: url('../img/salmela_lippu.jpg');
}
div.sail_cover2{
	background-image: url('../img/purjehdus2.jpg');
}
.map{
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	width: 300px;
	height: 300px;
	transition:width 1.2s, height 1.2s;
	-webkit-transition:width 1.2s, height 1.2s, -webkit-transform 1.2s;
}
.map:hover{
	height: 450px;
	width: 450px;
}
div.map>a{
	color: blue;
	text-decoration: none;
	opacity: 0.3;
	transition:opacity 0.8s;
	-webkit-transition:opacity 0.8s, -webkit-transform 0.8s;
	position: relative;
	top: 20px;
}
div.map>a:hover{
	opacity: 0.8;
}
@media only screen and (min-device-width : 551px) and (max-device-width : 1024px){
	.map{
		height: 250px;
		width: 250px;
	}
	.map:hover{
		height: 275px;
		width: 275px;	
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 550px) { 
	.map{
		-webkit-border-radius: 999px;
		height: 200px;
		width: 40px;
	}
	.map:hover{
		height: 300px;
		width: 200px;
	}
}
#salppuri{
	background-image: url('../img/salppuri2.png');
	
}
#harjunalusta{
	background-image: url('../img/harjunalusta2.png');
}
#riihela{
	background-image: url('../img/riihela2.png')
}
